<div>
	<h2>{{title}}</h2> 
</div>
<div class="poster">
	<img src= "http://img.omdbapi.com/?i={{ id }}&apikey=7c212437">
</div>
<div>
	<p>{{year}}</p>
</div> 
<div>
	<p>{{actors}}</p> 
</div>
<div>
	<p>{{plot}}</P>
</div>